/*top right bottom left*/
/*box-shadow: 10px 10px 5px #e5d9d2;
border-radius: 10px;
border: 3px #33272a solid;
background-color: #f4e2d7;*/

body {
    height: 2000px;
    width: 2000px;
    background-color: #fffffe;
    }
  
    .container {

        border-radius: 5px;
        background-color: #faeee7;
        width: 700px;
        height: 900px;
        margin-top: 100px;
        margin-left: 850px;
        box-shadow: 10px 10px 5px #e9e9e9;
     
       
       
    }
    
    .cabecario{
    
        /*background-color: #c3f0ca;*/
        width: 700px;
        height: 300px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        clear:both;
    
    }
    
    .topleft{
        float:left;
        /*background-color: #70e0aa;*/
        width: 350px;
        height: 300px;
    }
    
    .topright{
        float:right;
        /*background-color: #1e7049;*/
        width: 350px;
        height: 300px;
       
    }
    
    .bottomleft{
        clear:both;
        float:left;
        /*background-color: #1e7049;*/
        width: 233.333333px;
        height: 300px;
        border-bottom-left-radius: 5px;
    }
    
    .bottomcenter{
       
        float:left;
        /*background-color: #5f9c7e;*/
        width: 233.333333px;
        height: 300px;
    }
    
    .bottomright{
        
        float:right;
        /*background-color: #254435;*/
        width: 233.333333px;
        height: 300px;
        border-bottom-right-radius: 5px;
    }

    .foto{
        
        float:left;
        border-radius: 10px;

        background-color: #f4e2d7;
        box-shadow: 10px 10px 5px #e5d9d2;
        width:  200px;
        height: 250px;
        margin: 20px 40px; /*acaso tire a borda fica 20px 40px*/
        
    }
    .nome{
        float:right;
       
        width:  380px;
        height: 60px;
        margin: 20px 30px 0px 0px;
        
    }

    .nomemesmo{
        margin: 15px 10px 0px 40px;
        font-size: 27px;
        font-family: 'Racing Sans One', sans-serif;
        color:#594a4e
    }
    .perfil{
        
        float:right;
        width:  380px;
        height: 20px;
        margin: 0px 20px 20px 0px;
    }

    .perfilmesmo{
        margin: 15px 0px 0px 10px;
        font-size: large;
        font-family: 'Roboto Condensed', sans-serif;
        color:#594a4e
    }
    .sobre{
    
        float: right;
        width:  380px;
        height: 100px;
        margin: 0px 20px 20px 0px;
        
    }

    .sobremesmo{
        margin: 5px 10px;
        font-size:medium;
        font-family: 'Roboto Condensed', sans-serif;
        color:#594a4e
    }

    .agility{
        
        border-radius: 10px;
       
        background-color: #f4e2d7;
        box-shadow: 10px 10px 5px #e5d9d2;
        width:  200px;
        height: 270px;
        margin: 5px 17.3px 5px ;
    }

    .agility img {
        width:  180px;
        height: 243px;
        margin: 15px 13.3px 0px 10px ;
    }

    .caixacentro{
        
        border-radius: 10px;
       
        background-color: #f4e2d7;
        box-shadow: 10px 10px 5px #e5d9d2;
        width:  200px;
        height: 270px;
        margin: 5px 17.3px 5px ;
    }

    .caixadireita{
        
        border-radius: 10px;
       
        background-color: #f4e2d7;
        box-shadow: 10px 10px 5px #e5d9d2;
        width:  200px;
        height: 270px;
        margin: 5px 17.3px 5px ;
    }

    .powers{
        
        border-radius: 10px;
        
        background-color: #f4e2d7;
        box-shadow: 10px 10px 5px #e5d9d2;
        width: 310px;
        height: 270px;
        margin: 1px 17.8px 1px ;
    }

    .caixonadireita{
        
        border-radius: 10px;
        
        background-color: #f4e2d7;
        box-shadow: 10px 10px 5px #e5d9d2;
        width: 310px;
        height: 270px;
        margin: 1px 17.8px 1px ;
    }

  
   

