/*top right bottom left*/

body {
    height: 2000px;
    width: 2000px;
    background-color: #fffffe; /*cor do fundo da pagina*/
    padding: 0;   /*padding e margin para tocar no canto da pagina*/
    margin: 0;
    }

    .container {

        border-radius: 5px;
        background-color: #faeee7;
        width: 700px;
        height: 900px;
        margin-top: 100px;
        margin-left: 850px;
        box-shadow: 10px 10px 5px #e9e9e9;  
    }
    
    .cabecario{
    
        width: 700px;
        height: 300px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        clear:both;
    
    }
    
    .cimaesquerda{
        float:left;
      
        width: 350px;
        height: 300px;
    }
    
    .cimadireita{
        float:right;
       
        width: 350px;
        height: 300px;
       
    }
    
    .baixoesquerda{
        clear:both;
        float:left;
      
        width: 233.333333px;
        height: 300px;
        border-bottom-left-radius: 5px;
    }
    
    .baixomeio{
       
        float:left;
       
        width: 233.333333px;
        height: 300px;
    }
    
    .baixodireita{
        
        float:right;
        width: 233.333333px;
        height: 300px;
        border-bottom-right-radius: 5px;
    }

    .foto{
        
        float:left;
        border-radius: 10px;

        background-color: #f4e2d7;
        box-shadow: 10px 10px 5px #e5d9d2;
        width:  200px;
        height: 250px;
        margin: 20px 40px;
        
    }
    .nome{
        float:right;
       
        width:  380px;
        height: 60px;
        margin: 20px 30px 0px 0px;
        
    }

    .nomemesmo{
        margin: 15px 10px 0px 40px;
        font-size: 27px;
        font-family: 'Racing Sans One', sans-serif;
        color:#594a4e
    }
    .perfil{
        
        float:right;
        width:  380px;
        height: 20px;
        margin: 0px 20px 20px 0px;
    }

    .perfilmesmo{
        margin: 15px 0px 0px 10px;
        font-size: large;
        font-family: 'Roboto Condensed', sans-serif;
        color:#594a4e
    }
    .sobre{
    
        float: right;
        width:  380px;
        height: 100px;
        margin: 0px 20px 20px 0px;
        
    }

    .sobremesmo{
        margin: 5px 10px;
        font-size:medium;
        font-family: 'Roboto Condensed', sans-serif;
        color:#594a4e
    }

    .agilidade{
        
        border-radius: 10px;
       
        background-color: #f4e2d7;
        box-shadow: 10px 10px 5px #e5d9d2;
        width:  200px;
        height: 270px;
        margin: 5px 17.3px 5px ;
    }

    .agilidade img {
        width:  180px;
        height: 243px;
        margin: 15px 13.3px 0px 10px ;
    }

    .dados{
        
        border-radius: 10px;
       
        background-color: #f4e2d7;
        box-shadow: 10px 10px 5px #e5d9d2;
        width:  200px;
        height: 270px;
        margin: 5px 17.3px 5px ;
    }

    .dados img {
        width:  180px;
        height: 243px;
        margin: 15px 13.3px 0px 10px ;
    }

    .contato{
        
        border-radius: 10px;       
        background-color: #f4e2d7;
        box-shadow: 10px 10px 5px #e5d9d2;
        width:  200px;
        height: 270px;
        margin: 5px 17.3px 5px ;
    }

    .contato img {
        width:  180px;
        height: 243px;
        margin: 15px 13.3px 0px 10px ;
    }

    .poderes{
        
        border-radius: 10px;
        
        background-color: #f4e2d7;
        box-shadow: 10px 10px 5px #e5d9d2;
        width: 310px;
        height: 270px;
        margin: 1px 17.8px 1px ;
    }

    .poderes img {
        width: 248px;
        height: 216px;
        margin: 26px 0px 0px 25px ;
    }

    .experiencias{
        
        border-radius: 10px;
        
        background-color: #f4e2d7;
        box-shadow: 10px 10px 5px #e5d9d2;
        width: 310px;
        height: 270px;
        margin: 1px 17.8px 1px ;
    }

    .experiencias img {
        width:  248px;
        height: 216px;
        margin: 22px 0px 0px 48px ;
    }

  
   

